@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container{
    font-family: "Inter", serif;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    transition: 0.1s;
    position: absolute;
    top: 40%;
    left: 37%;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(82, 82, 255);
}

img{
    width: 40px;
    height: 40px;
    padding: 10px;
}